/* You need to create the rest of styles for the layout shown */
.choices{
    display: flex;
}
.options {
    flex-basis: 24%;
    margin: 0 2rem;
    border: 2px outset rgb(227, 72, 72);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}
.types {
    width: unset;
    padding: 10px;
    border: none;
    box-shadow: none;
}

